.top-nav {
  width: 100%;
  height: 42px;
  background-color: #fff;
}
.top-nav ul {
  width: 990px;
  height: 41px;
  margin: 0 auto;
  position: relative;
}
.top-nav ul > li {
  float: left;
}
.top-nav ul .logo h1 {
  font-size: 0px;
}
.top-nav ul .logo h1 img {
  width: 150px;
  height: 41px;
}
.top-nav ul .second-img a:nth-child(1) img {
  width: 230px;
  height: 40px;
}
.top-nav ul .second-img a:nth-child(2) {
  display: none;
}
.top-nav ul .second-img a:nth-child(2) img {
  width: 990px;
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
}
.top-nav ul .second-img:hover a:nth-child(2) {
  display: block;
}
.top-nav ul .third-info {
  float: right;
  height: 41px;
  line-height: 41px;
  position: relative;
}
.top-nav ul .third-info span {
  color: #464646;
  font-size: 14px;
}
.top-nav ul .third-info span.left::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background: url("../image/title_sprite.png") no-repeat;
  background-position: -30px 0;
  background-size: 120px 30px;
  vertical-align: middle;
  margin-bottom: 5px;
}
.top-nav ul .third-info span.right {
  margin-left: 20px;
}
.top-nav ul .third-info span.right::after {
  display: inline-block;
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  content: "";
  background: url("../image/title_sprite.png") no-repeat;
  background-position: 0px 0;
  background-size: 120px 30px;
  vertical-align: middle;
  margin-bottom: 5px;
  opacity: 0.2;
}
.top-nav ul .third-info span.right:hover .float-img {
  display: block;
}
.top-nav ul .third-info .float-img {
  position: absolute;
  top: 41px;
  right: 0;
  display: none;
}
.top-nav ul .third-info .float-img img {
  width: 990px;
}
.box {
  width: 100%;
  height: 1300px;
  background: url("../image/big-bg.jpg") no-repeat top center;
  background-size: contain;
}
.header-nav {
  width: 100%;
  height: 84px;
  background-color: #323235;
  position: absolute;
  z-index: 100;
}
.header-nav .content {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.header-nav .content > h1 {
  font-size: 0;
  float: left;
}
.header-nav .content > h1 a img {
  width: 200px;
  height: 54px;
  margin-top: 20px;
}
.header-nav .content > .title-nav {
  width: 890px;
  float: left;
  display: flex;
}
.header-nav .content > .title-nav > li {
  flex: 1;
  height: 84px;
}
.header-nav .content > .title-nav > li a {
  display: block;
  padding-top: 20px;
  text-align: center;
  color: #c9c9dd;
  font-size: 18px;
}
.header-nav .content > .title-nav > li a span {
  padding-top: 20px;
  display: block;
  font-size: 12px;
}
.header-nav .content > .title-nav > li:hover {
  border-bottom: 4px solid #e8c76c;
  background: -webkit-linear-gradient(bottom, #efd794, #323235);
}
.header-nav .content > .login {
  display: flex;
  padding: 20px 0 0 30px;
}
.header-nav .content > .login .img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #efd891;
}
.header-nav .content > .login .img img {
  width: 100%;
  height: 100%;
}
.header-nav .content > .login .func {
  margin-left: 2px;
}
.header-nav .content > .login .func span {
  display: block;
  padding: 0;
}
.header-nav .content > .login .func span:nth-child(1) {
  font-size: 16px;
  color: #fff;
}
.header-nav .content > .login .func span:nth-child(2) {
  font-size: 14px;
  color: #858792;
}
.content {
  overflow: hidden;
}
.content .side-info {
  position: fixed;
  bottom: 100px;
  right: 0;
  width: 254px;
  height: 494px;
  text-align: center;
}
.content .side-info .peo-img {
  position: absolute;
  top: 15px;
  left: 24px;
  z-index: 2;
  width: 165px;
  height: 145px;
  background: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/floatwindow/r_dj.png) no-repeat top center;
}
.content .side-info .erweima {
  position: absolute;
  top: 162px;
  left: 74px;
  z-index: 2;
  width: 117px;
  height: 134px;
  background: url("../image/r_all2022.png") no-repeat;
  background-position: -240px 0;
  background-size: 360px 569px;
  text-align: center;
}
.content .side-info .erweima img {
  width: 107px;
  height: 107px;
  margin-top: 2px;
}
.content .side-info > ul {
  position: absolute;
  top: 297px;
  left: 76px;
}
.content .side-info > ul li {
  width: 117px;
  height: 38px;
  background: url("../image/r_all2022.png") no-repeat;
  background-size: 360px 569px;
}
.content .side-info > ul li:nth-of-type(1) {
  background-position: 0 -120px;
}
.content .side-info > ul li:nth-of-type(2) {
  background-position: 0 -120px;
}
.content .side-info > ul li:nth-of-type(3) {
  background-position: 0 -120px;
}
.content .side-info > ul li:nth-of-type(4) {
  background-position: 0 -120px;
}
.content .center-box {
  width: 1200px;
  margin: 444px auto;
}
.content .center-box .first-box {
  width: 100%;
  height: 342px;
  display: flex;
  position: relative;
}
.content .center-box .first-box .left {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content .center-box .first-box .left .img {
  width: 604px;
  height: 298px;
}
.content .center-box .first-box .left .bottom-info {
  flex: 1;
  width: 604px;
  display: flex;
  justify-content: space-around;
  background-color: #323235;
}
.content .center-box .first-box .left .bottom-info li {
  padding: 15px 18px 0 18px;
}
.content .center-box .first-box .left .bottom-info li:hover {
  background-color: #464646;
}
.content .center-box .first-box .left .bottom-info li:hover a {
  color: #f3c258;
}
.content .center-box .first-box .left .bottom-info a {
  color: #999;
  font-size: 14px;
}
.content .center-box .first-box .center-info {
  width: 359px;
  height: 100%;
  background-color: #30323a;
  padding: 0 17px;
  overflow: hidden;
}
.content .center-box .first-box .center-info .title {
  display: flex;
  border-bottom: 1px solid #000;
}
.content .center-box .first-box .center-info .title li {
  flex: 1;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #30323a;
  color: #fff;
}
.content .center-box .first-box .center-info .title li:nth-child(-n + 5):hover {
  border-bottom: 2px solid #f3c258;
  color: #f3c258;
}
.content .center-box .first-box .center-info .info {
  width: 100%;
  height: 36px;
  line-height: 36px;
  margin: 18px 0px 11px;
  font-size: 18px;
  background-color: #414046;
}
.content .center-box .first-box .center-info .info span {
  display: inline-block;
  width: 222px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f3c258;
}
.content .center-box .first-box .center-info .games li {
  margin: 12px 0;
}
.content .center-box .first-box .center-info .games li a {
  display: inline-block;
  width: 266px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b8b9c5;
  font-size: 14px;
  vertical-align: middle;
}
.content .center-box .first-box .center-info .games li a span {
  display: inline-block;
  color: #4d9cff;
  border: 1px solid #4d9cff;
  padding: 2px 3px;
}
.content .center-box .first-box .center-info .games li span {
  display: inline-block;
  color: #b8b9c5;
  font-size: 14px;
}
.content .center-box .first-box .right {
  flex: 1;
  background-color: #393a3e;
}
.content .center-box .first-box .right img {
  width: 100%;
}
.content .center-box .first-box .pos-box {
  position: absolute;
  top: 0;
  right: -60px;
}
.content .center-box .second-box {
  width: 100%;
}
.content .center-box .second-box ul {
  margin: 28px 0;
}
.content .center-box .second-box ul li {
  float: left;
  margin-right: 12px;
}
.content .center-box .second-box ul li:nth-of-type(4) {
  margin-right: 0;
}
.content .center-box .second-box ul li a img {
  width: 291px;
  height: 134px;
}
.content .center-box .second-box ul::after {
  content: "";
  display: table;
  clear: both;
}
.content .center-box .the-content-center,
.content .center-box .the-game-center {
  width: 100%;
  display: flex;
  margin-bottom: 80px;
}
.content .center-box .the-content-center .left,
.content .center-box .the-game-center .left {
  width: 872px;
  margin-right: 33px;
  height: 100px;
}
.content .center-box .the-content-center .left .title,
.content .center-box .the-game-center .left .title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.content .center-box .the-content-center .left .title .other,
.content .center-box .the-game-center .left .title .other {
  font-size: 14px;
  color: #999;
  float: right;
  padding-top: 6px;
}
.content .center-box .the-content-center .left .title .other::before,
.content .center-box .the-game-center .left .title .other::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../image/index.png") no-repeat;
  background-size: 403px 600px;
  background-position: -252px 0;
  vertical-align: middle;
  margin-right: 10px;
}
.content .center-box .the-content-center .left .title::before,
.content .center-box .the-game-center .left .title::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../image/index.png") no-repeat;
  background-size: 403px 600px;
  background-position: 0 -108px;
  vertical-align: middle;
  margin-right: 18px;
}
.content .center-box .the-content-center .left .nav,
.content .center-box .the-game-center .left .nav {
  width: 100%;
  display: flex;
}
.content .center-box .the-content-center .left .nav li,
.content .center-box .the-game-center .left .nav li {
  flex: 1;
  height: 32px;
  line-height: 26px;
  font-size: 14px;
  color: #999;
  text-align: center;
  border-bottom: 3px solid #f5f5f5;
  background-color: #f5f5f5;
}
.content .center-box .the-content-center .left .nav li:hover,
.content .center-box .the-game-center .left .nav li:hover {
  border-bottom: 3px solid #f3c258;
}
.content .center-box .the-content-center .left .game-center-nav,
.content .center-box .the-game-center .left .game-center-nav {
  width: 100%;
  height: 32px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.content .center-box .the-content-center .left .game-center-nav li,
.content .center-box .the-game-center .left .game-center-nav li {
  float: left;
  padding: 0 16px;
  height: 32px;
  line-height: 26px;
  font-size: 14px;
  color: #999;
  border-bottom: 3px solid #f5f5f5;
}
.content .center-box .the-content-center .left .game-center-nav li:hover,
.content .center-box .the-game-center .left .game-center-nav li:hover {
  border-bottom: 3px solid #f3c258;
}
.content .center-box .the-content-center .left .film,
.content .center-box .the-game-center .left .film {
  width: 100%;
  display: flex;
}
.content .center-box .the-content-center .left .film .img,
.content .center-box .the-game-center .left .film .img {
  width: 211px;
  height: 260px;
  overflow: hidden;
}
.content .center-box .the-content-center .left .film .img img,
.content .center-box .the-game-center .left .film .img img {
  width: 100%;
}
.content .center-box .the-content-center .left .film .info,
.content .center-box .the-game-center .left .film .info {
  margin-left: 18px;
  flex: 1;
}
.content .center-box .the-content-center .left .film .info .game-title,
.content .center-box .the-game-center .left .film .info .game-title {
  width: 577px;
  font-size: 24px;
  color: #333;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .center-box .the-content-center .left .film .info > span,
.content .center-box .the-game-center .left .film .info > span {
  display: inline-table;
  width: 577px;
  font-size: 14px;
  color: #333;
  text-align: left;
}
.content .center-box .the-content-center .left .film .info .bottom-info,
.content .center-box .the-game-center .left .film .info .bottom-info {
  width: 100%;
}
.content .center-box .the-content-center .left .film .info .bottom-info li,
.content .center-box .the-game-center .left .film .info .bottom-info li {
  margin-top: 11px;
}
.content .center-box .the-content-center .left .film .info .bottom-info li a,
.content .center-box .the-game-center .left .film .info .bottom-info li a {
  display: inline-block;
  width: 554px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .center-box .the-content-center .left .film .info .bottom-info li a > span,
.content .center-box .the-game-center .left .film .info .bottom-info li a > span {
  display: inline-block;
  font-size: 12px;
  margin-right: 12px;
  padding: 4px 6px;
  background: #e3e3e3;
  border-radius: 10px;
  border: 2px solid #e3e3e3;
  text-align: center;
  color: #999999;
  text-indent: 2px;
  vertical-align: middle;
}
.content .center-box .the-content-center .left .film .info .bottom-info li > span,
.content .center-box .the-game-center .left .film .info .bottom-info li > span {
  color: #cbccd3;
  font-size: 12px;
  float: right;
  margin-top: 5px;
}
.content .center-box .the-content-center .left .search-hot,
.content .center-box .the-game-center .left .search-hot {
  margin: 25px 0;
  display: flex;
  padding-left: 10px;
}
.content .center-box .the-content-center .left .search-hot li a,
.content .center-box .the-game-center .left .search-hot li a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 13px 0 8px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  margin-right: 8px;
}
.content .center-box .the-content-center .left .search-hot li a:hover,
.content .center-box .the-game-center .left .search-hot li a:hover {
  border-color: #f3c258;
  background: #f3c258;
  color: #fff;
}
.content .center-box .the-content-center .left .video,
.content .center-box .the-game-center .left .video {
  width: 100%;
  margin-top: 20px;
}
.content .center-box .the-content-center .left .video ul li,
.content .center-box .the-game-center .left .video ul li {
  float: left;
  width: 209px;
  margin: 0 12px 30px 0;
  position: relative;
}
.content .center-box .the-content-center .left .video ul li:nth-of-type(4n),
.content .center-box .the-game-center .left .video ul li:nth-of-type(4n) {
  margin-right: 0;
}
.content .center-box .the-content-center .left .video ul li a img,
.content .center-box .the-game-center .left .video ul li a img {
  width: 209px;
}
.content .center-box .the-content-center .left .video ul li .info,
.content .center-box .the-game-center .left .video ul li .info {
  height: 40px;
  overflow: hidden;
  color: #333333;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}
.content .center-box .the-content-center .left .video ul::after,
.content .center-box .the-game-center .left .video ul::after {
  content: "";
  display: table;
  clear: both;
}
.content .center-box .the-content-center .right,
.content .center-box .the-game-center .right {
  flex: 1;
}
.content .center-box .the-content-center .right .title,
.content .center-box .the-game-center .right .title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.content .center-box .the-content-center .right .title::before,
.content .center-box .the-game-center .right .title::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../image/index.png") no-repeat;
  background-size: 403px 600px;
  background-position: 0 -108px;
  vertical-align: middle;
  margin-right: 18px;
}
.content .center-box .the-content-center .right .title .other,
.content .center-box .the-game-center .right .title .other {
  font-size: 14px;
  color: #999;
  float: right;
  padding-top: 6px;
}
.content .center-box .the-content-center .right .title .other::before,
.content .center-box .the-game-center .right .title .other::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../image/index.png") no-repeat;
  background-size: 403px 600px;
  background-position: -252px 0;
  vertical-align: middle;
  margin-right: 10px;
}
.content .center-box .the-content-center .right .nav,
.content .center-box .the-game-center .right .nav {
  width: 100%;
  display: flex;
  margin-bottom: 28px;
}
.content .center-box .the-content-center .right .nav li,
.content .center-box .the-game-center .right .nav li {
  flex: 1;
  height: 32px;
  line-height: 26px;
  font-size: 14px;
  color: #999;
  text-align: center;
  border-bottom: 3px solid #f5f5f5;
  background-color: #f5f5f5;
}
.content .center-box .the-content-center .right .nav li:hover,
.content .center-box .the-game-center .right .nav li:hover {
  border-bottom: 3px solid #f3c258;
}
.content .center-box .the-content-center .right .hero-bottom .img,
.content .center-box .the-game-center .right .hero-bottom .img {
  width: 295px;
  height: 156px;
  overflow: hidden;
}
.content .center-box .the-content-center .right .hero-bottom .img img,
.content .center-box .the-game-center .right .hero-bottom .img img {
  width: 100%;
}
.content .center-box .the-content-center .right .hero-bottom .info,
.content .center-box .the-game-center .right .hero-bottom .info {
  padding: 12px;
  border: 1px solid #c7c4c4;
}
.content .center-box .the-content-center .right .hero-bottom .info p,
.content .center-box .the-game-center .right .hero-bottom .info p {
  line-height: 1.4;
}
.content .center-box .the-content-center .right .hero-bottom .info p:nth-of-type(1),
.content .center-box .the-game-center .right .hero-bottom .info p:nth-of-type(1) {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}
.content .center-box .the-content-center .right .hero-bottom .info p:nth-of-type(2),
.content .center-box .the-game-center .right .hero-bottom .info p:nth-of-type(2) {
  color: #999999;
  font-size: 12px;
  text-align: left;
}
.content .center-box .the-content-center .right .hero-kind,
.content .center-box .the-game-center .right .hero-kind {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.content .center-box .the-content-center .right .hero-kind li,
.content .center-box .the-game-center .right .hero-kind li {
  flex: 1;
  margin-right: 7px;
}
.content .center-box .the-content-center .right .hero-kind li:nth-of-type(4),
.content .center-box .the-game-center .right .hero-kind li:nth-of-type(4) {
  margin-right: 0;
}
.content .center-box .the-content-center .right .bottom-img,
.content .center-box .the-game-center .right .bottom-img {
  margin-top: 20px;
  width: 293px;
  height: 159px;
  overflow: hidden;
}
.content .center-box .the-content-center .right .bottom-img img,
.content .center-box .the-game-center .right .bottom-img img {
  width: 100%;
}
.content .footer {
  width: 1200px;
  margin: 0 auto;
}
.content .footer .top {
  width: 100%;
  height: 78px;
  display: flex;
  border-bottom: 2px solid #c4bebe;
}
.content .footer .top .tengxun {
  width: 258px;
  height: 59px;
  background: url("../image/spr.png") no-repeat;
  background-size: 355px 365px;
  background-position: 0 0;
}
.content .footer .top .timi {
  margin-left: 44px;
  width: 60px;
  height: 60px;
  background: url("../image/spr.png") no-repeat;
  background-size: 355px 365px;
  background-position: -295px 0;
}
.content .footer .text {
  margin-top: 16px;
  margin-bottom: 200px;
  display: flex;
}
.content .footer .text .left span,
.content .footer .text .right span,
.content .footer .text .left p,
.content .footer .text .right p {
  color: #6d6d6d;
  font-size: 12px;
  margin-right: 12px;
}
.content .footer .text .left p,
.content .footer .text .right p {
  margin-top: 16px;
}
.content .footer .text .right {
  margin-left: 30px;
}
.content .footer .text .right p {
  margin-top: 0px;
  line-height: 1.5;
}
